/*
Generic elements

Generic elements that are used in the Seven theme.

Styleguide 1.0
*/
body {
  color: #333;
  background: #fff;
  font: normal 81.3%/1.538em "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", sans-serif;
}

/*
Link

Markup: <a>Link</a>
<button class="link">Button styled as link</button>

Styleguide 1.1.1
*/
a,
.link {
  color: #0074bd;
  text-decoration: none;
}
a:hover,
.link:hover {
  text-decoration: underline;
}

/*
Horizontal rule

Markup: <hr />

Styleguide 1.1.2
*/
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #cccccc;
}

/*
Summary

Markup: <summary>Summary</summary>

Styleguide 1.1.3
*/
summary,
.fieldgroup:not(.form-composite) > legend {
  font-weight: bold;
  text-transform: uppercase;
}

/*
Headers

Markup: <h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<h5>Header 5</h5>
<h6>Header 6</h6>

Styleguide 1.1.4
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 10px 0;
}
h1 {
  font-size: 1.538em;
}
h2 {
  font-size: 1.385em;
}
h3 {
  font-size: 1.231em;
}
h4 {
  font-size: 1.154em;
}
h5,
h6 {
  font-size: 1.077em;
}

/*
Paragraph

Markup: <p>Williamsburg direct trade hoodie lo-fi. Organic food truck american apparel hoodie hashtag fingerstache viral, fashion axe ethnic bespoke 8-bit irony helvetica flexitarian master cleanse.</p>

Styleguide 1.1.5
*/
p {
  margin: 1em 0;
}

/*
Unordered list

Markup: <ul>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
</ul>


Styleguide 1.1.6
*/
ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
[dir="rtl"] ul {
  margin-left: 0;
  margin-right: 1.5em;
}

/*
Ordered list

Markup: <ol>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
</ol>


Styleguide 1.1.7
*/
ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em; /* LTR */
  padding: 0;
}
[dir="rtl"] ol {
  margin-left: 0;
  margin-right: 2em;
}


/*
Description list

Markup: <dl>
  <dt>Term</dt>
  <dd>Description</dd>
  <dt>Term</dt>
  <dd>Description</dd>
</dl>

Styleguide 1.1.8
*/
dl {
  margin: 0 0 20px;
}
dl dd,
dl dl {
  margin-left: 20px; /* LTR */
  margin-bottom: 10px;
}
[dir="rtl"] dl dd,
[dir="rtl"] dl dl {
  margin-right: 20px;
}

/*
Blockquote

Markup: <blockquote>Williamsburg direct trade hoodie lo-fi.</blockquote>

Styleguide 1.1.9
*/
blockquote {
  margin: 1em 40px;
}

/*
Address

Markup: <address>Williamsburg direct trade hoodie lo-fi.</address>

Styleguide 1.1.8
*/
address {
  font-style: italic;
}

/*
Underline and insert

Markup: <u>Williamsburg direct trade hoodie lo-fi.</u>
<ins>Williamsburg direct trade hoodie lo-fi.</ins>

Styleguide 1.1.10
*/
u,
ins {
  text-decoration: underline;
}

/*
Strikethrough and deleted

Markup: <strike>Williamsburg direct trade hoodie lo-fi.</strike>
<del>Williamsburg direct trade hoodie lo-fi.</del>

Styleguide 1.1.11
*/
s,
strike,
del {
  text-decoration: line-through;
}

/*
Big and small

Markup: <big>Williamsburg direct trade hoodie lo-fi.</big>
<small>Williamsburg direct trade hoodie lo-fi.</small>

Styleguide 1.1.12
*/
big {
  font-size: larger;
}
small {
  font-size: smaller;
}

/*
Subscript and superscript

Markup: <sub>Williamsburg direct trade hoodie lo-fi.</sub>
<sup>Williamsburg direct trade hoodie lo-fi.</sup>

Styleguide 1.1.13
*/
sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}
sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}
nobr {
  white-space: nowrap;
}

/*
Abbreviation and acronym

Markup: <abbr title="Captain">Capt</abbr>
<acronym title="Light Amplification by Stimulated Emission of Radiation">LASER</acronym>

Styleguide 1.1.14
*/
abbr,
acronym {
  border-bottom: dotted 1px;
}

/*
Quote

Markup: <quote>Quote</quote>

Styleguide 1.1.15
*/
quote,
code {
  margin: .5em 0;
}

/*
Code and pre

Markup: <pre><code>function initialize() {
  var map = new google.maps.Map(document.getElementById('map-canvas'),{});
}</code></pre>

Styleguide 1.1.16
*/
code,
pre,
kbd {
  font-size: 1.231em;
}
pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}

/*
Details

Markup: <details>
  <summary>Title</summary>
  <div class="details-wrapper">
      <div class="details-description">Description</div>
  </div>
</details>

Styleguide 1.1.17
*/
details {
  line-height: 1.295em;
}
details summary {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
