<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Drupal UI guidelines</title>

  <meta name="description" content="">
  <meta name="generator" content="kss-node" />
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="public/kss.css">
  <link rel="stylesheet" href="../css/base/elements.css">
  <link rel="stylesheet" href="../css/components/buttons.css">
  <link rel="stylesheet" href="../css/components/form.css">
  <link rel="stylesheet" href="../css/components/tables.css">
  <link rel="stylesheet" href="../css/components/dropbutton.component.css">
  <script src="../../../assets/vendor/modernizr/modernizr.js"></script>
  <script src="../../../assets/vendor/domready/ready.min.js"></script>
  <script src="../../../assets/vendor/jquery/jquery.js"></script>
  <script src="../../../assets/vendor/jquery-once/jquery.once.js"></script>
  <script src="../../../misc/drupal.js"></script>
  <script src="../../../misc/dropbutton/dropbutton.js"></script>
</head>
<body><div id="kss-wrapper">

<div id="kss-nav">
  <header id="kss-header">
    <h1>Drupal UI guidelines</h1>
  </header>
  <aside>
    <nav><ul>
      <li><a href="index.html">Overview</a></li>
    {{#eachRoot}}
      <li><a href="section-{{reference}}.html">{{header}}</a></li>
    {{/eachRoot}}
    </ul></nav>
  </aside>
</div>
<div role="main" id="kss-main">
  <article id="kss-content">
  {{#if overview}}
    {{{overview}}}
  {{else}}

    {{!
      Find each section, in order.
      If there's no markup or modifiers supplied, use a Markdown-only
      layout instead.

      The "root" element comes first in this loop, and can be detected using
      the "#ifDepth 1" block as seen below.
    }}
    {{#eachSection rootNumber}}
      <section class="kss-depth-{{ refDepth }}">

      <h{{ refDepth }} class="kss-title">{{ header }}</h{{ refDepth }}>

      {{#if description}}
        <div class="kss-box">{{{description}}}</div>
      {{/if}}

      {{#if markup}}
          <div class="kss-mod-example">
            <div>{{modifierMarkup}}</div>
          </div>
        {{#eachModifier}}
            <div class="kss-mod-desc">{{{description}}}</div>
            <div class="kss-mod-name"><p>{{name}}</p></div>
          <div class="kss-mod-example">
            <div>{{modifierMarkup}}</div>
          </div>
        {{/eachModifier}}

        <div class="kss-markup">
          <pre class="prettyprint lang-html">{{markup}}</pre>
        </div>
      {{/if}}

      </section>
    {{/eachSection}}
  {{/if}}
  </article>
</div>

<!-- SCRIPTS -->
<script src="public/kss.js"></script>
<script src="public/prettify.js"></script>
<script>
  jQuery(document).ready(function(){
    // Ensure code blocks are highlighted properly...
    jQuery('pre>code').addClass('prettyprint');
    prettyPrint();
  });
</script>

</div></body>
</html>
