{#
/**
 * @file
 * Default theme implementation to display a list of summary lines.
 *
 * Available variables:
 * - rows: The rows contained in this view.
 *   Each row contains:
 *   - url: The summary link URL.
 *   - link: The summary link text.
 *   - count: The number of items under this grouping.
 *   - attributes: HTML attributes to apply to each row.
 * - options: Flags indicating how the summary should be displayed.
 *   This contains:
 *   - count: A flag indicating whether the count should be displayed.
 *
 * @see template_preprocess_views_view_summary()
 *
 * @ingroup themeable
 */
#}
<ul class="views-summary">
{% for row in rows %}
  <li><a href="{{ row.url }}"{{ row.attributes }}>{{ row.link }}</a>
    {% if options.count %}
      ({{ row.count }})
    {% endif %}
  </li>
{% endfor %}
</ul>
