/**
 * Menus and lists.
 */
li,
li.leaf,
ul.menu li {
  list-style-type: disc;
  list-style-image: none;
}
ul.menu li {
  margin: 0;
}
li.collapsed {
  list-style-image: url(../../../../misc/menu-collapsed.png);
  list-style-type: disc;
}
li.expanded {
  list-style-image: url(../../../../misc/menu-expanded.png);
  list-style-type: circle;
}
ul.links li,
ul.inline li {
  padding-right: 1em; /* LTR */
}
[dir="rtl"] ul.links li,
[dir="rtl"] ul.inline li {
  padding-left: 1em;
}
ul.inline li {
  display: inline;
}
