/*
Tables

Use tables when provising an overview of large amounts of structured data.

### Recommendations
#### Colummns
* First column: Object name or identifier.
* Last column: Operations (if applicable).
* Use distinct column names.
* Limit the number of columns to 5.
* Avoid columns in which the content of almost all rows is the same.
* Avoid column with similar data. e.g. "Category" and "Section".

#### Rows
* Provide a pager when more than 50 rows can be expected. Except when the table has dragable rows.
* Provide a data filter when more than 2 pages of data can be are expected.

#### Operations
* First operation: "Edit".
* Last operation: "Delete".
* Use distinct operation labels. e.g. not: "Clone" and "Copy".
* Limit the number of operators to 4.

Markup: <table>
  <thead>
    <tr>
      <th>
        <input type="checkbox">
      </th>
      <th>
        <a class="heading-d table-header table-header--sorting" href="#" title="Sort by username">Username</a>
      </th>
      <th class="col-priority-medium">
        <a class="heading-d table-header table-header--sorting" href="#" title="Sort by status">Status</a>
      </th>
      <th class="col-priority-medium">
        <span class="heading-d table-header" href="#">Roles</span>
      </th>
      <th class="table-priority-low">
        <a class="heading-d table-header table-header--sorting is-active" href="#" title="Sort by membership duration">Member for</a>
      </th>
      <th>
        <span class="heading-d table-header" href="#">Operations</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox"></td>
      <td><a href="#">ry5n</a></td>
      <td class="col-priority-medium">Active</td>
      <td class="col-priority-medium">Administrator</td>
      <td class="table-priority-low">6 months, 1 week</td>
      <td>
        <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="edit-node"><a href="/node/1/edit?destination=admin/content">Edit</a></li><li class="delete-node"><a href="/node/1/delete?destination=admin/content">Delete</a></li></ul></div></div>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td><a href="#">test</a></td>
      <td class="col-priority-medium">Active</td>
      <td class="col-priority-medium">Tester</td>
      <td class="table-priority-low">3 months, 3 weeks</td>
      <td>
        <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="edit-node"><a href="/node/1/edit?destination=admin/content">Edit</a></li><li class="delete-node"><a href="/node/1/delete?destination=admin/content">Delete</a></li></ul></div></div>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td><a href="#">test2</a></td>
      <td class="col-priority-medium">Active</td>
      <td class="col-priority-medium">Tester</td>
      <td class="table-priority-low">2 months, 1 week</td>
      <td>
        <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="edit-node"><a href="/node/1/edit?destination=admin/content">Edit</a></li><li class="delete-node"><a href="/node/1/delete?destination=admin/content">Delete</a></li></ul></div></div>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td><a href="#">test3</a></td>
      <td class="col-priority-medium">Active</td>
      <td class="col-priority-medium">Tester</td>
      <td class="table-priority-low">3 weeks, 4 days</td>
      <td>
        <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="edit-node"><a href="/node/1/edit?destination=admin/content">Edit</a></li><li class="delete-node"><a href="/node/1/delete?destination=admin/content">Delete</a></li></ul></div></div>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td><a href="#">test4</a></td>
      <td class="col-priority-medium">Active</td>
      <td class="col-priority-medium">Tester</td>
      <td class="table-priority-low">6 weeks</td>
      <td>
        <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="edit-node"><a href="/node/1/edit?destination=admin/content">Edit</a></li><li class="delete-node"><a href="/node/1/delete?destination=admin/content">Delete</a></li></ul></div></div>
      </td>
    </tr>
  </tbody>
</table>

Styleguide 2.0
*/
table {
  width: 100%;
  margin: 0 0 10px;
  font-size: 0.923em;
}
caption {
  text-align: left; /* LTR */
}
[dir="rtl"] caption {
  text-align: right;
}
th {
  text-align: left; /* LTR */
  padding: 10px 12px;
}
[dir="rtl"] th {
  text-align: right;
}
thead th {
  background: #f5f5f2;
  border: solid #bfbfba;
  border-width: 1px 0;
  color: #333;
  text-transform: uppercase;
}
tr {
  border-bottom: 1px solid #e6e4df;
  padding: 0.1em 0.6em;
}
thead > tr {
  border-bottom: 1px solid #000;
}
tbody tr:hover {
  background: #f7fcff;
}
td,
th {
  vertical-align: middle;
}
td {
  padding: 10px 12px;
  text-align: left; /* LTR */
}
[dir="rtl"] td {
  text-align: right;
}
th > a {
  position: relative;
  display: block;
}

/* 1. Must match negative bottom padding of the parent <th> */
th > a:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: -10px; /* 1. */
  left: 0;
  right: 0;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
th.active > a {
  color: #004875;
}
th.active img {
  position: absolute;
  right: 0; /* LTR */
  top: 50%;
}
[dir="rtl"] th.active img {
  right: auto;
  left: 0;
}
th.active > a:after {
  border-bottom-color: #004875;
}
th > a:focus,
th > a:hover,
th.active > a:focus,
th.active > a:hover {
  color: #008ee6;
  text-decoration: none;
}
th > a:focus:after,
th > a:hover:after,
th.active > a:focus:after,
th.active > a:hover:after {
  border-bottom-color: #008ee6;
}
td ul {
  margin: 0;
}
td.active {
  background: none;
}

/* Force browsers to calculate the width of a 'select all' TH element. */
th.select-all {
  width: 1px;
}

/**
 * Captions.
 */
.caption {
  margin-bottom: 1.2em;
}

/**
 * Status report table.
 */
table.system-status-report tr {
  border-top: 1px solid #ccc;
  border-left: 1px solid #bebfb9;
  border-right: 1px solid #bebfb9;
  border-bottom: inherit;
}
table.system-status-report tr:first-child {
  border-top: 1px solid #bebfb9;
}
table.system-status-report tr:last-child {
  border-bottom: 1px solid #bebfb9;
}

table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
}
table.system-status-report tr.warning {
  color: #840;
  background-color: #fffce5;
}
table.system-status-report tr.error {
  color: #8c2e0b;
  background-color: #fef5f1;
}

/**
 * Responsive tables.
 */
@media screen and (max-width: 37.5em) { /* 600px */
  th.priority-low,
  td.priority-low,
  th.priority-medium,
  td.priority-medium {
    display: none;
  }
}
@media screen and (max-width: 60em) { /* 920px */
  th.priority-low,
  td.priority-low {
    display: none;
  }
}
